* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

  }

  .book-details-container {
    font-family: sans-serif;
    padding: 0 20px; 
    margin-top: 100px;
    
  }
  .book-info
  {
    display: flex;
    flex-direction: column;          
    align-items: flex-start;         
    gap: 0.5rem;                     
    flex-grow: 1; 
    padding: 0;
    margin: 0;

  }
  .book-cover
  {
    width: 210px;
    height: auto;
    max-height: none;       
    object-fit: contain;    
    flex-shrink: 0;
    border-radius: 6px;
  }

  .book-header {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
 
  }

  .book-title {
    margin: 0;
    font-size: 1.75rem;
    color: #333333;
  }

  .book-author {
    color: #333333;
    font-size: 1.2rem;
    padding-bottom: 5px;
  }

  .book-average-rating svg,
.review-stars svg {
  font-size: 1.3rem; /* Increase star size */
  margin-right: 6px; /* Space between stars */
  color: orange;  
  gap: 14px;   
  
}

.rating-number {
  font-size: 18px;
  color: #181818;
}

  .book-genres {
    color: #2f7571;;
  }


  .book-description {
    padding-top: 15px;
    font-size: 1rem;
    line-height: 1.6; 
    text-align: left;
  }

  .book-reviews {
    margin-top: 2rem;
    border-top: 1px solid #ddd;
    padding-top: 1.5rem;
  }

  .book-reviews h3 {
    margin-bottom: 0.5rem;
  }
  
  .book-reviews h4 {
    font-style: italic; 
    margin-bottom: 1rem; 
    margin-top: 1rem; 
  }

  .review-card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 6px;
    background-color: #F4F1EA;
  }

  .review-button {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #2f7571;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .review-button:hover 
  {
    background-color: #296764;
  }

  .review-divider {
    margin-top: 2rem;
    border: none;
    border-top: 1px solid #ddd;
  }

  .review-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #181818;
    margin-bottom: 0.5rem;
  }

  .review-stars {
  gap: 0.5rem;
  }
  
  .review-text {
    font-size: 16px;
    color: #444;
    margin-top: 0.5rem;
    
  }

