* styles.css */
* {
  height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

  }

.book-details-wrapper {
    max-width: 800px;
    margin: auto;
    font-family: sans-serif;
    background-color: #fafafa;
    padding-top: 20px; 
    margin-top: 150px;
    
  }
  .book-info
  {
    display: flex;
    flex-direction: column;          /* Stack book info vertically */
    align-items: flex-start;         /* Align all text to the left */
    gap: 0.5rem;                     /* Space between the individual pieces of information */
    flex-grow: 1; 

  }
  .book-cover
  {
   width: 225px;
   height: auto;
   padding-top: 15px;
   margin-top: 95px;
   margin-left: 60px;
   padding-right: 15px;

  }

  .book-header {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    gap: 1.5rem;
 
  }

  .book-title {
    margin: 0;
    font-size: 1.75rem;
    padding-top: 15px;
    margin-top: 95px;

  }

  .book-author {
    margin-right: 510px;
    margin-top: 0.5rem;
    color: #555;
    font-size: 1.2rem;
    padding-bottom: 1px;
  }

  .book-average-rating {
    color: orange;
    margin-right: 510px;
  }

  .book-genres {
    margin-right: 440px;
  }


  .book-description {
    font-size: 1rem;
    line-height: 1.6;
    align-items: flex-start; 
  }

  .book-reviews {
    margin-top: 2rem;
    border-top: 1px solid #ddd;
    padding-top: 1.5rem;
  }
  .review-card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 6px;
    background-color: #fafafa;
  }

  .review-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #b48c5e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }