* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F4F2E9;
    padding: 4px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    line-height: 35px;
  }
  
  .logo {
    height: 100%;;
    padding: 0 35px;
    font: Georgia, serif;
    font-size: 21px;
    font-weight: 400;
    color: #382110;
    text-decoration: none;
    line-height: 35px; 
  }

  .bold-look {
    font-weight: bold;
  }
  
  /* 3. Navigation menu */
  .menu {
    display: flex;
    gap: 27px;
    background-color: #f4f1ea;
    list-style: none;
    padding-right: 70px;
  }
 
  /* 5. Individual menu items (like li or a inside menu) */
  .menu li {
    color: #333333;
    padding: 15px; 
  }
  
  .menu li a:hover {


  }

  /* 6. Link styling */
  .menu a {
    padding-left: 10px;
    color: #382110;
  }

.menu .search-input {
    padding: 9px 12px;
    border: 1px solid #dddddde3;
    border-radius: 4px;
    line-height: 1; /* Prevents line-height interference */
    box-sizing: border-box;/* Match nav height */
    width: 280px;
}
.menu .search-button {
  padding: 8px 13px;
  cursor: pointer; 
  background: #2f7571; 
  color: white; 
  border: none; 
  border-radius: 3px; 
  line-height: 1; 
  height: auto;
  padding-top: 6.8px;
}
  
  .menu-icon {
    display: none;
    color: #333333;
  }
  
  @media screen and (min-width: 768px) {
  .home-container {
    padding-top: 20px;
  }

  .home-title {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  .info {
    width: 80%;
    font-size: 1.1rem;
  }
}