.manage-genres-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.manage-genre-header {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2rem;
  color: #333;
}

.create-genre-section {
  margin-bottom: 2rem;
  padding: 1.5rem;
}

.list-genres-section {
  padding: 1.5rem;
}