.manage-book-genres-container {
  max-width: 800px;
  margin: 0 auto;  
  padding-top: 0; 
  padding-bottom: 2rem;  
}

.manage-book-genre-header {
  text-align: center;
  margin-top: 0; 
  margin-bottom: 10px;  
  color: #333;
  font-size: 25px;
}

.create-book-genre-section {
  margin-bottom: 2rem;
  padding: 1.5rem;
}

.list-book-genre-section {
  padding: 1.5rem;
}

@media screen and (max-width: 1023px) {
  .manage-book-genres-container {
    max-width: 90%; 
    padding: 0 1rem 2rem; 
  }
}