.my-books-wrapper {
  width: 100%; 
   padding-top: 70px; 
  position: relative;
  min-height: 100vh; 
}

.my-books-header {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr; 
  gap: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  border-bottom: 2px solid #ddd;
}

.header-divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 0.5rem 0;
}

.userBooksRow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.book {
  display: grid;
  flex-direction: row;
  align-items: center;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  width: 100%; 
  gap: 2rem; 
  padding: 0.5rem;
  border: 1px solid #ddd; 
  flex-wrap: nowrap; 
  overflow-x: visible;
  max-width: 150vw;
  background-color: #F4F1EA;
  border-radius: 6px;
}

.book p.review-comment {
  font-size: 0.85rem;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.star-icon {
  color: orange !important; 
  stroke: #3c352e;             
  stroke-width: 10;  
}

.no-review
{
  padding-top: 70px; 
}
.delete-review {
  background-color: #8c1b1b;
  color: white;
}

.delete-review:hover {
  background-color: #671515;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .my-books-wrapper {
    padding-top: 60px; 
  }

  .my-books-header,
  .book {
    grid-template-columns: 1fr 1fr 1.5fr 1fr 0.8fr; 
    gap: 1rem; 
  }

  .book {
    padding: 0.5rem 0.8rem; 
  }

  .book p.review-comment {
    font-size: 0.8rem; 
    line-height: 1.3; 
  }
}
